div.sourceCode, div.sourceCode pre.sourceCode,
.cell-output pre code {
    font-size: 0.9em; 
}

pre>code,
pre>code.sourceCode {
    white-space: pre-wrap;
}

.cell-output.cell-output-stdout {
    border-left: solid 3px #506e71;
    background: #ddfcff;
    padding: 10px;
    margin: 1em 0;
}

.cell-output.cell-output-display {
    margin: 1em 0;
}

.cell-output.cell-output-display pre {
    background: #fffddd;
    padding: 10px;
}

.pickme {
    display: flex;
    justify-content: space-between;
}

.pickme a {
    background: #80f8ff;
    color: black;
    padding: 5px 10px;
}


p a {
    background: #fff880;
    color: black;
    padding: 0px;
}

@media (min-width:600px)  { 
    .quarto-title-banner {
        padding: 4em 0;
    }
    
    #title-block-header.quarto-title-block.default .quarto-title .title {
        font-size: 3em;
    }
}
